.navbar {
    background: #636363;
    padding: 10px;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    body { 
    padding-top: 65px; 
}

}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.navbar-item {
    display: inline;
    margin: 0 15px;
}

.navbar-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.navbar-link:hover {
    text-decoration: underline;
}

body { 
    padding-top: 65px; 
    background-color: rgb(0, 0, 0);
}